In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HR_Data_Exer.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,leftOrNot,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
d_salary = pd.get_dummies(df.salary)
d_salary

       high  low  medium
0         0    1       0
1         0    0       1
2         0    0       1
3         0    1       0
4         0    1       0
...     ...  ...     ...
14994     0    1       0
14995     0    1       0
14996     0    1       0
14997     0    1       0
14998     0    1       0

[14999 rows x 3 columns]

In [4]:
d_last_evaluation = pd.get_dummies(df.last_evaluation)
d_last_evaluation

,0.36,0.37,0.38,0.39,0.40,0.41,0.42,0.43,0.44,0.45,...,0.91,0.92,0.93,0.94,0.95,0.96,0.97,0.98,0.99,1.00
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
d_time_spend_company = pd.get_dummies(df.time_spend_company)
d_time_spend_company

       2   3   4   5   6   7   8   10
0       0   1   0   0   0   0   0   0
1       0   0   0   0   1   0   0   0
2       0   0   1   0   0   0   0   0
3       0   0   0   1   0   0   0   0
4       0   1   0   0   0   0   0   0
...    ..  ..  ..  ..  ..  ..  ..  ..
14994   0   1   0   0   0   0   0   0
14995   0   1   0   0   0   0   0   0
14996   0   1   0   0   0   0   0   0
14997   0   0   1   0   0   0   0   0
14998   0   1   0   0   0   0   0   0

[14999 rows x 8 columns]

In [6]:
d_satisfaction = pd.get_dummies(df.satisfaction_level,prefix='satisfaction')
d_satisfaction

,satisfaction_0.09,satisfaction_0.1,satisfaction_0.11,satisfaction_0.12,satisfaction_0.13,satisfaction_0.14,satisfaction_0.15,satisfaction_0.16,satisfaction_0.17,satisfaction_0.18,...,satisfaction_0.91,satisfaction_0.92,satisfaction_0.93,satisfaction_0.94,satisfaction_0.95,satisfaction_0.96,satisfaction_0.97,satisfaction_0.98,satisfaction_0.99,satisfaction_1.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14997,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
d_hours = pd.get_dummies(df.average_montly_hours,prefix='hours')
d_hours

,hours_96,hours_97,hours_98,hours_99,hours_100,hours_101,hours_102,hours_103,hours_104,hours_105,...,hours_301,hours_302,hours_303,hours_304,hours_305,hours_306,hours_307,hours_308,hours_309,hours_310
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
d_projects = pd.get_dummies(df.number_project)
d_projects

       2  3  4  5  6  7
0      1  0  0  0  0  0
1      0  0  0  1  0  0
2      0  0  0  0  0  1
3      0  0  0  1  0  0
4      1  0  0  0  0  0
...   .. .. .. .. .. ..
14994  1  0  0  0  0  0
14995  1  0  0  0  0  0
14996  1  0  0  0  0  0
14997  0  0  0  0  1  0
14998  1  0  0  0  0  0

[14999 rows x 6 columns]

In [9]:
subdf = df[['Work_accident','promotion_last_5years']]
subdf

       Work_accident  promotion_last_5years
0                  0                      0
1                  0                      0
2                  0                      0
3                  0                      0
4                  0                      0
...              ...                    ...
14994              0                      0
14995              0                      0
14996              0                      0
14997              0                      0
14998              0                      0

[14999 rows x 2 columns]

In [10]:
finaldf = pd.concat([subdf,d_satisfaction,d_hours,d_projects,d_salary,d_last_evaluation,d_time_spend_company], axis='columns')
finaldf.head()

,Work_accident,promotion_last_5years,satisfaction_0.09,satisfaction_0.1,satisfaction_0.11,satisfaction_0.12,satisfaction_0.13,satisfaction_0.14,satisfaction_0.15,satisfaction_0.16,...,0.99,1.0,2,3,4,5,6,7,8,10
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [11]:
x = finaldf
y = df.leftOrNot

In [12]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [14]:
model.fit(x_train,y_train)

LogisticRegression()

In [15]:
model.predict(x_test)

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [16]:
model.score(x_test,y_test)

0.9595555555555556